.main-div{
    text-align: center;
}

.container{
    width: auto;
    background: white;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    border: 1px solid gray;
    border-bottom:5px solid gray ;
    border-right: 5px solid gray;
}